body    {
    font-family:'Poppins', sans-serif;
    margin: 0;;
}
.full-section{
    display: flex;
    margin: 0px;
}
.half-width{
    margin-top: 200px;
    width: 40%;
    margin-left:110px;
}
span{
    color:orange
}
.order-now{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(red, yellow);
    font-weight: 700;
    
}
.half-width img{
    width: 80%;
    margin-right: 110px;
   padding-bottom: 100px;
}
.top-banner{
background-image: url(images/shapes/Frame\ 57.jpg);
background-repeat: no-repeat;
}
.second-banner{
    background-image: url(images/shapes/7.png);
    width:auto
    background-repeat: no-repeat;
}
.about-section{
    margin-left: 200px;
    margin-top: 150px;
    width:40%
}
.second-banner img{
    margin-left: 100px;
    
}
.contact-us{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(red, yellow);
    font-weight: 700;
}
.recepies{
text-align: center;
margin-bottom: 50px;
}
.Buffalo-Chicken{
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding:20px;
    margin-left: 3%;
    margin-right: 3%;
    width: 25%
    
}
.Oreo-Rice-Krispies{
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 3%;
    margin-right: 3%;
    width: 25%
}
.Easy-recipes{
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(87, 77, 77);
    padding:20px;
    margin-left: 3%;
    margin-right: 3%;
    width: 25%
}
.food-recepies{
    margin-left: 10%;
    width: 80%;
    display: flex;
}
.followers{
    margin: 20px;
    display: flex;
}
#followers-1{
    margin-left:30%;
    width:15%
}
#followers-2{
   
    width:15%
}
#followers-3{
    margin-right: 30%;
    width: 15%;
}
footer p{
    background-color: lightslategray;
    padding:10px 10px;
    text-align: center;
    font-weight: 700;

}
