body    {
    font-family:'Poppins', sans-serif;
    margin: 0;;
}
.full-section{
    display: flex;
}
.half-width{
    margin-top: 200px;
    width: 40%;
    margin-left:110px;
}
span{
    color:orange
}
.order-now{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(red, yellow);
    font-weight: 700;
    
}
.half-width img{
    width: 80%;
    margin-right: 110px;
   padding-bottom: 100px;
}
.top-banner{
background-image: url(images/shapes/Frame\ 57.jpg);
background-repeat: no-repeat;
}
.second-banner{
    background-image: url(images/shapes/7.png);
    width:auto
    background-repeat: no-repeat;
}
.about-section{
    margin-left: 200px;
    margin-top: 150px;
    width:40%
}
.second-banner img{
    margin-left: 100px;
    
}
.contact-us{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(red, yellow);
    font-weight: 700;
}
.recepies{
text-align: center;
margin-bottom: 120px;
}
.Buffalo-Chicken{
    
    width: 25%
}
.Oreo-Rice-Krispies{
  
    width: 25%
}
.Easy-recipes{
  
    width: 25%
}
.food-recepies{
    text-align: center;
}